.btn {
  position: relative;
  padding: 14px 36px;
  background: none;
  border: none;
  outline: none;
  background-color: var(--primary-bg);
  color: var(--primary-btn);
  font-weight: 600;
  border-radius: 60px;
  cursor: pointer;
}

.btn:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: transparent 4px solid;
  border-radius: 60px;
  transition: 0.2s;
}

.btn:hover:after {
  border-color: var(--primary-bg);
}

