.footer {
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 50px 420px;
}

.footer div {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1600px) {
    .footer {
        padding: 50px 120px;
    }
}

@media (max-width: 900px) {
    .footer {
        padding: 50px 80px;
    }
}

@media (max-width: 530px) {
    .footer {
        padding: 50px 60px;
    }
}